.ant-modal-content{
    width: 790px;
}

.form{
    width: 760px;
    height: 1138px;
    margin: auto;
    padding: 20px 50px;
    background-color: white;
}

.form > div {
    margin-top: 30px;
}

.input-text::placeholder {
    color: #666666;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif !important;
  }

.title-input,
label.ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item > span {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    color: #666666;
}

.ant-modal-content{
    margin-top: -40px;
    margin-left: -15vh
}

.img-error{
    width: 15px;
    display: none;
}

.input-text:hover {
    border: 2px solid rgba(122,92,250,1);
}

.ant-input-outlined:focus, .ant-input-outlined:focus-within{
    border-color: rgba(122,92,250,1);
}

.input-text ,
span.ant-checkbox-inner{
    width: 612px;
    height: 56px;
    border-radius: 8px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}



.label{
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}


.ant-checkbox-checked .ant-checkbox-inner {
    background-color: white;
}

.ant-checkbox-inner:hover {
    background-color: white;
}

.ant-checkbox .ant-checkbox-inner:after {
    border-bottom: 2px solid rgba(122,92,250,1);
    border-right: 2px solid rgba(122,92,250,1);
    width: 8px;
    height: 16px;
}

.ant-checkbox .ant-checkbox-inner {
    width: 24px;
    height: 24px;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: white;
    border: 1px solid rgba(122,92,250,1);
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border: 1px solid rgba(122,92,250,1);
}

.ant-checkbox-checked .ant-checkbox-inner {
    border-color: rgba(122,92,250,1);
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
    border: 1px solid #CCCCCC;
    background-color: white;
}

.ant-radio-wrapper .ant-radio-inner::after {
    background-color: rgba(122,92,250,1);
    width: 30px;
    height: 30px;
    inset-block-start: 20%;
    inset-inline-start: 19%;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: rgba(122,92,250,1);
}

.ant-radio-wrapper .ant-radio-inner{
    width: 24px;
    height: 24px;
}

.radio-index{
    margin-top: 10px;
}

.ant-switch-inner {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.ant-switch-inner .ant-switch-inner-checked::after{
    background-color: black;
}

.ant-switch .ant-switch-handle::before {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
}

.ant-switch-inner::before:hover{
    background-color: black;
}

.ant-switch {
    background-color: white;
}

.ant-switch:not(.ant-switch-checked):hover .ant-switch-inner {
    background-color: white; /* Đổi màu của button thành màu trắng khi hover */
  }

.ant-switch.ant-switch-checked{
    background-color: rgba(122,92,250,1);
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled){
    background-color: rgba(122,92,250,1);
}

.switch-form{
    display: inline-block;
}

.status-switch{
    display: flex;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}

.dropdown-title{
    font-family: "Noto Sans", sans-serif !important;
    font-size: 12px;
    color: #666666;
}

.ant-select.ant-select-in-form-item{
    width: 612px;
}

.ant-select-item.ant-select-item-option{
    height: 56px;
    width: 100%;
    border-radius: 0px;
}

.ant-switch:hover:not(.ant-switch-disabled) {
    background-color: #ffffff;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active{
    background-color: rgba(122,92,250,1) !important;
    color: white;
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
    border-color: rgba(122,92,250,1);
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border: none;
}

.ant-select-dropdown {
    padding: 0;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ant-select-dropdown .ant-select-item-option {
    align-items: center;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    &:last-child {
        border-bottom: none;
    }
}

.btn-custom{
    width: 172px;
    height: 56px;
    padding: 16px !important;
    font-family: "Noto Sans", sans-serif !important;
}

.next{
    margin-right: 45px;
    float: right;
    background-color: rgba(122,92,250,1);
    color: white;
}

.next:hover{
    border: 1px solid rgba(122,92,250,1) !important;
}
