body{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    background-color: rgba(228, 222, 254, 1);
}

.form{
    width: 760px;
    height: 1138px;
    margin: auto;
    padding: 20px 50px;
    background-color: white;
}

.img-error{
    width: 15px;
    display: none;
}

.input-text{
    width: 612px;
    height: 56px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
